{% for domain in opendkim_domains | unique %}
{{ opendkim_selector }}._domainkey.{{ domain }} {{ domain }}:{{ opendkim_selector }}:{{ opendkim_key_dir }}/{{ domain }}/{{ opendkim_selector }}.private
{% endfor %}
