{% for domain in opendkim_domains %}
{{ opendkim_selector }}._domainkey.{{ domain }} {{ domain }}:{{ opendkim_selector }}:{{ opedkim_key_dir }}/{{ domain }}/{{ opendkim_selector }}.private
{% endfor %}
